    @model Kurs
    
    <div class="mb-3">
        <label asp-for="Baslik" class="form-label">Kurs Adı</label>
        <input type="text" asp-for="Baslik" class="form-control">
    </div>
    <button class="btn btn-primary">Kaydet</button>