@model KursKayit

<h2>Kurs Kayit Ekleme</h2>
<hr>

<form asp-controller="KursKayit" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="OgrenciId" class="from-label">Öğrenci</label>
        <input type="text" asp-items = "ViewBag.Ogrenciler" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="KursId" class="from-label">Kurs</label>
        <input type="text" asp-items = "ViewBag.Kurslar" class="form-control">
    </div>
    <button class="btn btn-primary">Kaydet</button>
</form>